/**
 * @authors Wang Ye (wangjacker@163.com)
 * @date    2018-08-02 13:46:10
 * @copyright CH Web Company
 */
.border,
.borderTop,
.borderBottom,
.borderTopBottom,
.borderLeft,
.borderRight {
  position: relative;
}
.border:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  border: 1px solid #c7c7c7;
  color: #c7c7c7;
  height: 200%;
  transform-origin: left top;
  transform: scale(0.5);
}
.borderTop:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #c7c7c7;
  color: #c7c7c7;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.borderBottom:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #c7c7c7;
  color: #c7c7c7;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.borderTopBottom:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 1px;
  border-top: 1px solid #c7c7c7;
  color: #c7c7c7;
  transform-origin: 0 0;
  transform: scaleY(0.5);
}
.borderTopBottom:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  border-bottom: 1px solid #c7c7c7;
  color: #c7c7c7;
  transform-origin: 0 100%;
  transform: scaleY(0.5);
}
.borderLeft:before {
  content: " ";
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-left: 1px solid #c7c7c7;
  color: #c7c7c7;
  transform-origin: 0 0;
  transform: scaleX(0.5);
}
.borderRight:after {
  content: " ";
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  bottom: 0;
  border-right: 1px solid #c7c7c7;
  color: #c7c7c7;
  transform-origin: 100% 0;
  transform: scaleX(0.5);
}
